


button{
    background-color: rgb(7, 28, 136);
    color: rgb(241, 251, 251);
    padding: 5px;
     margin: 10px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    
    
}
button:hover{background-color: blue;}
input{
    margin: 10px;
    width: 80%;
    padding: 5px;
    border-radius: 7px;

}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
    background-color: aquamarine;

}
 h1{
   box-shadow: 8px 8px 5px lightblue;
 }
 .font{background-color: aquamarine;
        border: 2px solid black;  
        font-weight: bold;
        font-size: 20px;
        box-shadow: 2px white 2px green 3px;
        text-align: center;
    
}
#one{font-family: "Lobster", sans-serif;}
#two{font-family:"Bebas Neue", sans-serif; }
#three{font-family:"Roboto Slab", serif; }
#four{font-family:"Ballet", cursive; }
#five{font-family:"Merienda", cursive; }
#six{font-family: "Dancing Script", cursive; }
#seven{font-family:"Bungee Spice", sans-serif; }
#eight{font-family: "Tac One", sans-serif; }
#nine{font-family: "Reddit Mono", monospace;}
#ten{font-family:"Oswald", sans-serif;}


  
